/*
 * Shipping API
 * Shipping API Sample.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@pb.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.Errors;
import org.openapitools.client.model.ParcelProtectionCreateRequest;
import org.openapitools.client.model.ParcelProtectionCreateResponse;
import org.openapitools.client.model.ParcelProtectionPolicyResponse;
import org.openapitools.client.model.ParcelProtectionQuoteRequest;
import org.openapitools.client.model.ParcelProtectionQuoteResponse;
import org.openapitools.client.model.VoidParcelProtectionRequest;
import org.openapitools.client.model.VoidParcelProtectionResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ParcelProtectionApi {
    private ApiClient localVarApiClient;

    public ParcelProtectionApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ParcelProtectionApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for cancelParcelProtection
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionReferenceId Required. The identifier for the PB Parcel Protection policy that is being voided. (required)
     * @param voidParcelProtectionRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelParcelProtectionCall(String xPBTransactionId, String parcelProtectionReferenceId, VoidParcelProtectionRequest voidParcelProtectionRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = voidParcelProtectionRequest;

        // create path and map variables
        String localVarPath = "/v1/parcel-protection/void";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (parcelProtectionReferenceId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parcelProtectionReferenceId", parcelProtectionReferenceId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelParcelProtectionValidateBeforeCall(String xPBTransactionId, String parcelProtectionReferenceId, VoidParcelProtectionRequest voidParcelProtectionRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling cancelParcelProtection(Async)");
        }
        
        // verify the required parameter 'parcelProtectionReferenceId' is set
        if (parcelProtectionReferenceId == null) {
            throw new ApiException("Missing the required parameter 'parcelProtectionReferenceId' when calling cancelParcelProtection(Async)");
        }
        
        // verify the required parameter 'voidParcelProtectionRequest' is set
        if (voidParcelProtectionRequest == null) {
            throw new ApiException("Missing the required parameter 'voidParcelProtectionRequest' when calling cancelParcelProtection(Async)");
        }
        

        okhttp3.Call localVarCall = cancelParcelProtectionCall(xPBTransactionId, parcelProtectionReferenceId, voidParcelProtectionRequest, xPBUnifiedErrorStructure, _callback);
        return localVarCall;

    }

    /**
     * Parcel Protection Coverage
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionReferenceId Required. The identifier for the PB Parcel Protection policy that is being voided. (required)
     * @param voidParcelProtectionRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return VoidParcelProtectionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public VoidParcelProtectionResponse cancelParcelProtection(String xPBTransactionId, String parcelProtectionReferenceId, VoidParcelProtectionRequest voidParcelProtectionRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        ApiResponse<VoidParcelProtectionResponse> localVarResp = cancelParcelProtectionWithHttpInfo(xPBTransactionId, parcelProtectionReferenceId, voidParcelProtectionRequest, xPBUnifiedErrorStructure);
        return localVarResp.getData();
    }

    /**
     * Parcel Protection Coverage
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionReferenceId Required. The identifier for the PB Parcel Protection policy that is being voided. (required)
     * @param voidParcelProtectionRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return ApiResponse&lt;VoidParcelProtectionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<VoidParcelProtectionResponse> cancelParcelProtectionWithHttpInfo(String xPBTransactionId, String parcelProtectionReferenceId, VoidParcelProtectionRequest voidParcelProtectionRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        okhttp3.Call localVarCall = cancelParcelProtectionValidateBeforeCall(xPBTransactionId, parcelProtectionReferenceId, voidParcelProtectionRequest, xPBUnifiedErrorStructure, null);
        Type localVarReturnType = new TypeToken<VoidParcelProtectionResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Parcel Protection Coverage (asynchronously)
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionReferenceId Required. The identifier for the PB Parcel Protection policy that is being voided. (required)
     * @param voidParcelProtectionRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelParcelProtectionAsync(String xPBTransactionId, String parcelProtectionReferenceId, VoidParcelProtectionRequest voidParcelProtectionRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback<VoidParcelProtectionResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = cancelParcelProtectionValidateBeforeCall(xPBTransactionId, parcelProtectionReferenceId, voidParcelProtectionRequest, xPBUnifiedErrorStructure, _callback);
        Type localVarReturnType = new TypeToken<VoidParcelProtectionResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getParcelProtectionCoverage
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionCreateRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionCoverageCall(String xPBTransactionId, ParcelProtectionCreateRequest parcelProtectionCreateRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = parcelProtectionCreateRequest;

        // create path and map variables
        String localVarPath = "/v1/parcel-protection/create";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getParcelProtectionCoverageValidateBeforeCall(String xPBTransactionId, ParcelProtectionCreateRequest parcelProtectionCreateRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling getParcelProtectionCoverage(Async)");
        }
        
        // verify the required parameter 'parcelProtectionCreateRequest' is set
        if (parcelProtectionCreateRequest == null) {
            throw new ApiException("Missing the required parameter 'parcelProtectionCreateRequest' when calling getParcelProtectionCoverage(Async)");
        }
        

        okhttp3.Call localVarCall = getParcelProtectionCoverageCall(xPBTransactionId, parcelProtectionCreateRequest, xPBUnifiedErrorStructure, _callback);
        return localVarCall;

    }

    /**
     * Parcel Protection Coverage
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionCreateRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return ParcelProtectionCreateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ParcelProtectionCreateResponse getParcelProtectionCoverage(String xPBTransactionId, ParcelProtectionCreateRequest parcelProtectionCreateRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        ApiResponse<ParcelProtectionCreateResponse> localVarResp = getParcelProtectionCoverageWithHttpInfo(xPBTransactionId, parcelProtectionCreateRequest, xPBUnifiedErrorStructure);
        return localVarResp.getData();
    }

    /**
     * Parcel Protection Coverage
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionCreateRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return ApiResponse&lt;ParcelProtectionCreateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ParcelProtectionCreateResponse> getParcelProtectionCoverageWithHttpInfo(String xPBTransactionId, ParcelProtectionCreateRequest parcelProtectionCreateRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        okhttp3.Call localVarCall = getParcelProtectionCoverageValidateBeforeCall(xPBTransactionId, parcelProtectionCreateRequest, xPBUnifiedErrorStructure, null);
        Type localVarReturnType = new TypeToken<ParcelProtectionCreateResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Parcel Protection Coverage (asynchronously)
     * This API lets merchants request Pitney Bowes [Parcel Protection](https://shipping.pitneybowes.com/faqs/parcel-protection.html) coverage for shipments. Merchants can request coverage for shipments created with the Shipping APIs as well as for shipments created with other platforms.
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionCreateRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionCoverageAsync(String xPBTransactionId, ParcelProtectionCreateRequest parcelProtectionCreateRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback<ParcelProtectionCreateResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getParcelProtectionCoverageValidateBeforeCall(xPBTransactionId, parcelProtectionCreateRequest, xPBUnifiedErrorStructure, _callback);
        Type localVarReturnType = new TypeToken<ParcelProtectionCreateResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getParcelProtectionQuote
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionQuoteRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionQuoteCall(String xPBTransactionId, ParcelProtectionQuoteRequest parcelProtectionQuoteRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = parcelProtectionQuoteRequest;

        // create path and map variables
        String localVarPath = "/v1/parcel-protection/quote";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getParcelProtectionQuoteValidateBeforeCall(String xPBTransactionId, ParcelProtectionQuoteRequest parcelProtectionQuoteRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling getParcelProtectionQuote(Async)");
        }
        
        // verify the required parameter 'parcelProtectionQuoteRequest' is set
        if (parcelProtectionQuoteRequest == null) {
            throw new ApiException("Missing the required parameter 'parcelProtectionQuoteRequest' when calling getParcelProtectionQuote(Async)");
        }
        

        okhttp3.Call localVarCall = getParcelProtectionQuoteCall(xPBTransactionId, parcelProtectionQuoteRequest, xPBUnifiedErrorStructure, _callback);
        return localVarCall;

    }

    /**
     * Parcel Protection Quote
     * This API provides a quote for covering a shipment through Pitney Bowes [Parcel Protection](https://www.pitneybowes.com/us/ecommerce-delivery-services/parcel-protection.html).
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionQuoteRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return ParcelProtectionQuoteResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ParcelProtectionQuoteResponse getParcelProtectionQuote(String xPBTransactionId, ParcelProtectionQuoteRequest parcelProtectionQuoteRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        ApiResponse<ParcelProtectionQuoteResponse> localVarResp = getParcelProtectionQuoteWithHttpInfo(xPBTransactionId, parcelProtectionQuoteRequest, xPBUnifiedErrorStructure);
        return localVarResp.getData();
    }

    /**
     * Parcel Protection Quote
     * This API provides a quote for covering a shipment through Pitney Bowes [Parcel Protection](https://www.pitneybowes.com/us/ecommerce-delivery-services/parcel-protection.html).
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionQuoteRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @return ApiResponse&lt;ParcelProtectionQuoteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ParcelProtectionQuoteResponse> getParcelProtectionQuoteWithHttpInfo(String xPBTransactionId, ParcelProtectionQuoteRequest parcelProtectionQuoteRequest, Boolean xPBUnifiedErrorStructure) throws ApiException {
        okhttp3.Call localVarCall = getParcelProtectionQuoteValidateBeforeCall(xPBTransactionId, parcelProtectionQuoteRequest, xPBUnifiedErrorStructure, null);
        Type localVarReturnType = new TypeToken<ParcelProtectionQuoteResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Parcel Protection Quote (asynchronously)
     * This API provides a quote for covering a shipment through Pitney Bowes [Parcel Protection](https://www.pitneybowes.com/us/ecommerce-delivery-services/parcel-protection.html).
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param parcelProtectionQuoteRequest manifest (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionQuoteAsync(String xPBTransactionId, ParcelProtectionQuoteRequest parcelProtectionQuoteRequest, Boolean xPBUnifiedErrorStructure, final ApiCallback<ParcelProtectionQuoteResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getParcelProtectionQuoteValidateBeforeCall(xPBTransactionId, parcelProtectionQuoteRequest, xPBUnifiedErrorStructure, _callback);
        Type localVarReturnType = new TypeToken<ParcelProtectionQuoteResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getParcelProtectionReports
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param developerId Required. Your Pitney Bowes developer ID. (required)
     * @param policyCreatedFromDate The beginning of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param policyCreatedToDate The end of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (optional)
     * @param policyReferenceId The unique identifier for the PB Parcel Protection policy.]. (optional)
     * @param parcelTrackingNumber The parcel tracking number of the shipment that the policy applies to. (optional)
     * @param merchantId The merchant&#39;s Shipper ID. This is the value of the postalReportingNumber element in the Merchant Object. (optional)
     * @param policyStatus Whether the policy is active or voided. (optional)
     * @param size The number of transactions to return per page in the result set. (optional)
     * @param page The index number of the page to return. Page index numbering starts at 0. Specifying page&#x3D;0 returns the first page of the result set. (optional)
     * @param sort Defines a property to sort on and the sort order. Sort order can be ascending (asc) or descending (desc). (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionReportsCall(String xPBTransactionId, String developerId, String policyCreatedFromDate, Boolean xPBUnifiedErrorStructure, String policyCreatedToDate, String policyReferenceId, String parcelTrackingNumber, String merchantId, String policyStatus, String size, String page, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/parcel-protection/{developerId}/policies"
            .replaceAll("\\{" + "developerId" + "\\}", localVarApiClient.escapeString(developerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (policyCreatedFromDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("policyCreatedFromDate", policyCreatedFromDate));
        }

        if (policyCreatedToDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("policyCreatedToDate", policyCreatedToDate));
        }

        if (policyReferenceId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("policyReferenceId", policyReferenceId));
        }

        if (parcelTrackingNumber != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parcelTrackingNumber", parcelTrackingNumber));
        }

        if (merchantId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("merchantId", merchantId));
        }

        if (policyStatus != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("policyStatus", policyStatus));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getParcelProtectionReportsValidateBeforeCall(String xPBTransactionId, String developerId, String policyCreatedFromDate, Boolean xPBUnifiedErrorStructure, String policyCreatedToDate, String policyReferenceId, String parcelTrackingNumber, String merchantId, String policyStatus, String size, String page, String sort, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling getParcelProtectionReports(Async)");
        }
        
        // verify the required parameter 'developerId' is set
        if (developerId == null) {
            throw new ApiException("Missing the required parameter 'developerId' when calling getParcelProtectionReports(Async)");
        }
        
        // verify the required parameter 'policyCreatedFromDate' is set
        if (policyCreatedFromDate == null) {
            throw new ApiException("Missing the required parameter 'policyCreatedFromDate' when calling getParcelProtectionReports(Async)");
        }
        

        okhttp3.Call localVarCall = getParcelProtectionReportsCall(xPBTransactionId, developerId, policyCreatedFromDate, xPBUnifiedErrorStructure, policyCreatedToDate, policyReferenceId, parcelTrackingNumber, merchantId, policyStatus, size, page, sort, _callback);
        return localVarCall;

    }

    /**
     * Parcel Protection Reports
     * This operation retrieves the policy status and other information on the Parcel Protection policies you have purchased for your shipments. Further Details https://shipping.pitneybowes.com/api/get-parcel-protection-reports.html
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param developerId Required. Your Pitney Bowes developer ID. (required)
     * @param policyCreatedFromDate The beginning of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param policyCreatedToDate The end of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (optional)
     * @param policyReferenceId The unique identifier for the PB Parcel Protection policy.]. (optional)
     * @param parcelTrackingNumber The parcel tracking number of the shipment that the policy applies to. (optional)
     * @param merchantId The merchant&#39;s Shipper ID. This is the value of the postalReportingNumber element in the Merchant Object. (optional)
     * @param policyStatus Whether the policy is active or voided. (optional)
     * @param size The number of transactions to return per page in the result set. (optional)
     * @param page The index number of the page to return. Page index numbering starts at 0. Specifying page&#x3D;0 returns the first page of the result set. (optional)
     * @param sort Defines a property to sort on and the sort order. Sort order can be ascending (asc) or descending (desc). (optional)
     * @return ParcelProtectionPolicyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ParcelProtectionPolicyResponse getParcelProtectionReports(String xPBTransactionId, String developerId, String policyCreatedFromDate, Boolean xPBUnifiedErrorStructure, String policyCreatedToDate, String policyReferenceId, String parcelTrackingNumber, String merchantId, String policyStatus, String size, String page, String sort) throws ApiException {
        ApiResponse<ParcelProtectionPolicyResponse> localVarResp = getParcelProtectionReportsWithHttpInfo(xPBTransactionId, developerId, policyCreatedFromDate, xPBUnifiedErrorStructure, policyCreatedToDate, policyReferenceId, parcelTrackingNumber, merchantId, policyStatus, size, page, sort);
        return localVarResp.getData();
    }

    /**
     * Parcel Protection Reports
     * This operation retrieves the policy status and other information on the Parcel Protection policies you have purchased for your shipments. Further Details https://shipping.pitneybowes.com/api/get-parcel-protection-reports.html
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param developerId Required. Your Pitney Bowes developer ID. (required)
     * @param policyCreatedFromDate The beginning of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param policyCreatedToDate The end of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (optional)
     * @param policyReferenceId The unique identifier for the PB Parcel Protection policy.]. (optional)
     * @param parcelTrackingNumber The parcel tracking number of the shipment that the policy applies to. (optional)
     * @param merchantId The merchant&#39;s Shipper ID. This is the value of the postalReportingNumber element in the Merchant Object. (optional)
     * @param policyStatus Whether the policy is active or voided. (optional)
     * @param size The number of transactions to return per page in the result set. (optional)
     * @param page The index number of the page to return. Page index numbering starts at 0. Specifying page&#x3D;0 returns the first page of the result set. (optional)
     * @param sort Defines a property to sort on and the sort order. Sort order can be ascending (asc) or descending (desc). (optional)
     * @return ApiResponse&lt;ParcelProtectionPolicyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ParcelProtectionPolicyResponse> getParcelProtectionReportsWithHttpInfo(String xPBTransactionId, String developerId, String policyCreatedFromDate, Boolean xPBUnifiedErrorStructure, String policyCreatedToDate, String policyReferenceId, String parcelTrackingNumber, String merchantId, String policyStatus, String size, String page, String sort) throws ApiException {
        okhttp3.Call localVarCall = getParcelProtectionReportsValidateBeforeCall(xPBTransactionId, developerId, policyCreatedFromDate, xPBUnifiedErrorStructure, policyCreatedToDate, policyReferenceId, parcelTrackingNumber, merchantId, policyStatus, size, page, sort, null);
        Type localVarReturnType = new TypeToken<ParcelProtectionPolicyResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Parcel Protection Reports (asynchronously)
     * This operation retrieves the policy status and other information on the Parcel Protection policies you have purchased for your shipments. Further Details https://shipping.pitneybowes.com/api/get-parcel-protection-reports.html
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param developerId Required. Your Pitney Bowes developer ID. (required)
     * @param policyCreatedFromDate The beginning of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param policyCreatedToDate The end of the date range. Specify this value in UTC using the ISO 8601 standard. You must include both date and time, and you must end the time with Z to indicate a zero offset. (optional)
     * @param policyReferenceId The unique identifier for the PB Parcel Protection policy.]. (optional)
     * @param parcelTrackingNumber The parcel tracking number of the shipment that the policy applies to. (optional)
     * @param merchantId The merchant&#39;s Shipper ID. This is the value of the postalReportingNumber element in the Merchant Object. (optional)
     * @param policyStatus Whether the policy is active or voided. (optional)
     * @param size The number of transactions to return per page in the result set. (optional)
     * @param page The index number of the page to return. Page index numbering starts at 0. Specifying page&#x3D;0 returns the first page of the result set. (optional)
     * @param sort Defines a property to sort on and the sort order. Sort order can be ascending (asc) or descending (desc). (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getParcelProtectionReportsAsync(String xPBTransactionId, String developerId, String policyCreatedFromDate, Boolean xPBUnifiedErrorStructure, String policyCreatedToDate, String policyReferenceId, String parcelTrackingNumber, String merchantId, String policyStatus, String size, String page, String sort, final ApiCallback<ParcelProtectionPolicyResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getParcelProtectionReportsValidateBeforeCall(xPBTransactionId, developerId, policyCreatedFromDate, xPBUnifiedErrorStructure, policyCreatedToDate, policyReferenceId, parcelTrackingNumber, merchantId, policyStatus, size, page, sort, _callback);
        Type localVarReturnType = new TypeToken<ParcelProtectionPolicyResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
