/*
 * Shipping API
 * Shipping API Sample.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@pb.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.pitneybowes.shippingapi.api;

import org.pitneybowes.shippingapi.ApiCallback;
import org.pitneybowes.shippingapi.ApiClient;
import org.pitneybowes.shippingapi.ApiException;
import org.pitneybowes.shippingapi.ApiResponse;
import org.pitneybowes.shippingapi.Configuration;
import org.pitneybowes.shippingapi.Pair;
import org.pitneybowes.shippingapi.ProgressRequestBody;
import org.pitneybowes.shippingapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.pitneybowes.shippingapi.model.CancelShipment;
import org.pitneybowes.shippingapi.model.Carrier;
import org.pitneybowes.shippingapi.model.Errors;
import org.pitneybowes.shippingapi.model.Shipment;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ShipmentApi {
    private ApiClient localVarApiClient;

    public ShipmentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ShipmentApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for cancelShipment
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipmentId shipmentId (required)
     * @param xPBUnifiedErrorStructure Recommended. Set this to true to use the standard error object if an error occurs. (optional, default to &quot;true&quot;)
     * @param xPBShipperCarrierAccountId UPS Only. The unique identifier returned in the shipperCarrierAccountId field by the [Register an Existing Carrier Account API.(https://shipping.pitneybowes.com/api/post-carrier-accounts-register.html) (optional)
     * @param cancelInitiator Indicates that this refund request is initiated by the shipper. Set this to: SHIPPER (optional)
     * @param carrier Conditional. The carrier. This is required if the carrier is not USPS (optional, default to USPS)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelShipmentCall(String xPBTransactionId, String shipmentId, String xPBUnifiedErrorStructure, String xPBShipperCarrierAccountId, String cancelInitiator, Carrier carrier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/shipments/{shipmentId}"
            .replaceAll("\\{" + "shipmentId" + "\\}", localVarApiClient.escapeString(shipmentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (cancelInitiator != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cancelInitiator", cancelInitiator));
        }

        if (carrier != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("carrier", carrier));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBShipperCarrierAccountId != null) {
            localVarHeaderParams.put("X-PB-Shipper-Carrier-AccountId", localVarApiClient.parameterToString(xPBShipperCarrierAccountId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelShipmentValidateBeforeCall(String xPBTransactionId, String shipmentId, String xPBUnifiedErrorStructure, String xPBShipperCarrierAccountId, String cancelInitiator, Carrier carrier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling cancelShipment(Async)");
        }
        
        // verify the required parameter 'shipmentId' is set
        if (shipmentId == null) {
            throw new ApiException("Missing the required parameter 'shipmentId' when calling cancelShipment(Async)");
        }
        

        okhttp3.Call localVarCall = cancelShipmentCall(xPBTransactionId, shipmentId, xPBUnifiedErrorStructure, xPBShipperCarrierAccountId, cancelInitiator, carrier, _callback);
        return localVarCall;

    }

    /**
     * cancelShipment
     * 
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipmentId shipmentId (required)
     * @param xPBUnifiedErrorStructure Recommended. Set this to true to use the standard error object if an error occurs. (optional, default to &quot;true&quot;)
     * @param xPBShipperCarrierAccountId UPS Only. The unique identifier returned in the shipperCarrierAccountId field by the [Register an Existing Carrier Account API.(https://shipping.pitneybowes.com/api/post-carrier-accounts-register.html) (optional)
     * @param cancelInitiator Indicates that this refund request is initiated by the shipper. Set this to: SHIPPER (optional)
     * @param carrier Conditional. The carrier. This is required if the carrier is not USPS (optional, default to USPS)
     * @return CancelShipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public CancelShipment cancelShipment(String xPBTransactionId, String shipmentId, String xPBUnifiedErrorStructure, String xPBShipperCarrierAccountId, String cancelInitiator, Carrier carrier) throws ApiException {
        ApiResponse<CancelShipment> localVarResp = cancelShipmentWithHttpInfo(xPBTransactionId, shipmentId, xPBUnifiedErrorStructure, xPBShipperCarrierAccountId, cancelInitiator, carrier);
        return localVarResp.getData();
    }

    /**
     * cancelShipment
     * 
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipmentId shipmentId (required)
     * @param xPBUnifiedErrorStructure Recommended. Set this to true to use the standard error object if an error occurs. (optional, default to &quot;true&quot;)
     * @param xPBShipperCarrierAccountId UPS Only. The unique identifier returned in the shipperCarrierAccountId field by the [Register an Existing Carrier Account API.(https://shipping.pitneybowes.com/api/post-carrier-accounts-register.html) (optional)
     * @param cancelInitiator Indicates that this refund request is initiated by the shipper. Set this to: SHIPPER (optional)
     * @param carrier Conditional. The carrier. This is required if the carrier is not USPS (optional, default to USPS)
     * @return ApiResponse&lt;CancelShipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CancelShipment> cancelShipmentWithHttpInfo(String xPBTransactionId, String shipmentId, String xPBUnifiedErrorStructure, String xPBShipperCarrierAccountId, String cancelInitiator, Carrier carrier) throws ApiException {
        okhttp3.Call localVarCall = cancelShipmentValidateBeforeCall(xPBTransactionId, shipmentId, xPBUnifiedErrorStructure, xPBShipperCarrierAccountId, cancelInitiator, carrier, null);
        Type localVarReturnType = new TypeToken<CancelShipment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * cancelShipment (asynchronously)
     * 
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipmentId shipmentId (required)
     * @param xPBUnifiedErrorStructure Recommended. Set this to true to use the standard error object if an error occurs. (optional, default to &quot;true&quot;)
     * @param xPBShipperCarrierAccountId UPS Only. The unique identifier returned in the shipperCarrierAccountId field by the [Register an Existing Carrier Account API.(https://shipping.pitneybowes.com/api/post-carrier-accounts-register.html) (optional)
     * @param cancelInitiator Indicates that this refund request is initiated by the shipper. Set this to: SHIPPER (optional)
     * @param carrier Conditional. The carrier. This is required if the carrier is not USPS (optional, default to USPS)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelShipmentAsync(String xPBTransactionId, String shipmentId, String xPBUnifiedErrorStructure, String xPBShipperCarrierAccountId, String cancelInitiator, Carrier carrier, final ApiCallback<CancelShipment> _callback) throws ApiException {

        okhttp3.Call localVarCall = cancelShipmentValidateBeforeCall(xPBTransactionId, shipmentId, xPBUnifiedErrorStructure, xPBShipperCarrierAccountId, cancelInitiator, carrier, _callback);
        Type localVarReturnType = new TypeToken<CancelShipment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for createShipmentLabel
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipment request (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param xPBIntegratorCarrierId USPS Only. Negotiated services rate, if applicable. (optional)
     * @param xPBShipperRatePlan USPS Only. Shipper rate plan, if applicable. For more information, see [this FAQ](https://shipping.pitneybowes.com/faqs/rates.html#rate-plans-faq). (optional)
     * @param xPBShipmentGroupId  **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**.The job number that represents the agreement between the merchant and PB Presort. This was provided by Pitney Bowes during [merchant onboarding for PB Presort](https://shipping.pitneybowes.com/carriers/pb-presort.html). (optional)
     * @param xPBShipperCarrierAccountId **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**. The merchant&#39;s Mailer ID (MID), as provided by Pitney Bowes during merchant onboarding for PB Presort. (optional)
     * @param includeDeliveryCommitment If set to true, returns estimated transit times in days. Only for USPS Create Shipment. See also [Pitney Bowes Delivery Guarantee](https://shipping.pitneybowes.com/faqs/delivery-guarantee.html) [Do all USPS services return transit times?](https://shipping.pitneybowes.com/faqs/shipments.html#transit-times-faq) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createShipmentLabelCall(String xPBTransactionId, Shipment shipment, Boolean xPBUnifiedErrorStructure, String xPBIntegratorCarrierId, String xPBShipperRatePlan, String xPBShipmentGroupId, String xPBShipperCarrierAccountId, String includeDeliveryCommitment, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = shipment;

        // create path and map variables
        String localVarPath = "/v1/shipments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (includeDeliveryCommitment != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("includeDeliveryCommitment", includeDeliveryCommitment));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (xPBTransactionId != null) {
            localVarHeaderParams.put("X-PB-TransactionId", localVarApiClient.parameterToString(xPBTransactionId));
        }

        if (xPBIntegratorCarrierId != null) {
            localVarHeaderParams.put("X-PB-Integrator-CarrierId", localVarApiClient.parameterToString(xPBIntegratorCarrierId));
        }

        if (xPBShipperRatePlan != null) {
            localVarHeaderParams.put("X-PB-Shipper-Rate-Plan", localVarApiClient.parameterToString(xPBShipperRatePlan));
        }

        if (xPBShipmentGroupId != null) {
            localVarHeaderParams.put("X-PB-ShipmentGroupId", localVarApiClient.parameterToString(xPBShipmentGroupId));
        }

        if (xPBShipperCarrierAccountId != null) {
            localVarHeaderParams.put("X-PB-Shipper-Carrier-AccountId", localVarApiClient.parameterToString(xPBShipperCarrierAccountId));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createShipmentLabelValidateBeforeCall(String xPBTransactionId, Shipment shipment, Boolean xPBUnifiedErrorStructure, String xPBIntegratorCarrierId, String xPBShipperRatePlan, String xPBShipmentGroupId, String xPBShipperCarrierAccountId, String includeDeliveryCommitment, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'xPBTransactionId' is set
        if (xPBTransactionId == null) {
            throw new ApiException("Missing the required parameter 'xPBTransactionId' when calling createShipmentLabel(Async)");
        }
        
        // verify the required parameter 'shipment' is set
        if (shipment == null) {
            throw new ApiException("Missing the required parameter 'shipment' when calling createShipmentLabel(Async)");
        }
        

        okhttp3.Call localVarCall = createShipmentLabelCall(xPBTransactionId, shipment, xPBUnifiedErrorStructure, xPBIntegratorCarrierId, xPBShipperRatePlan, xPBShipmentGroupId, xPBShipperCarrierAccountId, includeDeliveryCommitment, _callback);
        return localVarCall;

    }

    /**
     * This operation creates a shipment and purchases a shipment label.
     * The API returns the label as either a Base64 string or a link to a PDF. For more information visit [Create Shipment Documents](https://shipping.pitneybowes.com/api/post-shipments.html). Following are samples of different carriers -  * [Create a USPS (U.S. Postal Service) Label](https://shipping.pitneybowes.com/api/post-shipments-usps.html)  * [Create a USPS PMOD Label](https://shipping.pitneybowes.com/api/post-shipments-pmod.html) * [Create a USPS Scan-Based Return Label](https://shipping.pitneybowes.com/api/post-shipments-returns.html) * [Create a Pure Post Return Label](https://shipping.pitneybowes.com/api/post-shipments-pure-post-return.html) * [Create a Newgistics Label](https://shipping.pitneybowes.com/api/post-shipments-newgistics.html) * [Create a PB Presort Label](https://shipping.pitneybowes.com/api/post-shipments-presort.html) * [Create a PB Cross-Border Shipment](https://shipping.pitneybowes.com/api/post-shipments-cbds.html) * [Create a UPS (United Parcel Service) Label](https://shipping.pitneybowes.com/api/post-shipments-ups.html)
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipment request (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param xPBIntegratorCarrierId USPS Only. Negotiated services rate, if applicable. (optional)
     * @param xPBShipperRatePlan USPS Only. Shipper rate plan, if applicable. For more information, see [this FAQ](https://shipping.pitneybowes.com/faqs/rates.html#rate-plans-faq). (optional)
     * @param xPBShipmentGroupId  **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**.The job number that represents the agreement between the merchant and PB Presort. This was provided by Pitney Bowes during [merchant onboarding for PB Presort](https://shipping.pitneybowes.com/carriers/pb-presort.html). (optional)
     * @param xPBShipperCarrierAccountId **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**. The merchant&#39;s Mailer ID (MID), as provided by Pitney Bowes during merchant onboarding for PB Presort. (optional)
     * @param includeDeliveryCommitment If set to true, returns estimated transit times in days. Only for USPS Create Shipment. See also [Pitney Bowes Delivery Guarantee](https://shipping.pitneybowes.com/faqs/delivery-guarantee.html) [Do all USPS services return transit times?](https://shipping.pitneybowes.com/faqs/shipments.html#transit-times-faq) (optional)
     * @return Shipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public Shipment createShipmentLabel(String xPBTransactionId, Shipment shipment, Boolean xPBUnifiedErrorStructure, String xPBIntegratorCarrierId, String xPBShipperRatePlan, String xPBShipmentGroupId, String xPBShipperCarrierAccountId, String includeDeliveryCommitment) throws ApiException {
        ApiResponse<Shipment> localVarResp = createShipmentLabelWithHttpInfo(xPBTransactionId, shipment, xPBUnifiedErrorStructure, xPBIntegratorCarrierId, xPBShipperRatePlan, xPBShipmentGroupId, xPBShipperCarrierAccountId, includeDeliveryCommitment);
        return localVarResp.getData();
    }

    /**
     * This operation creates a shipment and purchases a shipment label.
     * The API returns the label as either a Base64 string or a link to a PDF. For more information visit [Create Shipment Documents](https://shipping.pitneybowes.com/api/post-shipments.html). Following are samples of different carriers -  * [Create a USPS (U.S. Postal Service) Label](https://shipping.pitneybowes.com/api/post-shipments-usps.html)  * [Create a USPS PMOD Label](https://shipping.pitneybowes.com/api/post-shipments-pmod.html) * [Create a USPS Scan-Based Return Label](https://shipping.pitneybowes.com/api/post-shipments-returns.html) * [Create a Pure Post Return Label](https://shipping.pitneybowes.com/api/post-shipments-pure-post-return.html) * [Create a Newgistics Label](https://shipping.pitneybowes.com/api/post-shipments-newgistics.html) * [Create a PB Presort Label](https://shipping.pitneybowes.com/api/post-shipments-presort.html) * [Create a PB Cross-Border Shipment](https://shipping.pitneybowes.com/api/post-shipments-cbds.html) * [Create a UPS (United Parcel Service) Label](https://shipping.pitneybowes.com/api/post-shipments-ups.html)
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipment request (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param xPBIntegratorCarrierId USPS Only. Negotiated services rate, if applicable. (optional)
     * @param xPBShipperRatePlan USPS Only. Shipper rate plan, if applicable. For more information, see [this FAQ](https://shipping.pitneybowes.com/faqs/rates.html#rate-plans-faq). (optional)
     * @param xPBShipmentGroupId  **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**.The job number that represents the agreement between the merchant and PB Presort. This was provided by Pitney Bowes during [merchant onboarding for PB Presort](https://shipping.pitneybowes.com/carriers/pb-presort.html). (optional)
     * @param xPBShipperCarrierAccountId **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**. The merchant&#39;s Mailer ID (MID), as provided by Pitney Bowes during merchant onboarding for PB Presort. (optional)
     * @param includeDeliveryCommitment If set to true, returns estimated transit times in days. Only for USPS Create Shipment. See also [Pitney Bowes Delivery Guarantee](https://shipping.pitneybowes.com/faqs/delivery-guarantee.html) [Do all USPS services return transit times?](https://shipping.pitneybowes.com/faqs/shipments.html#transit-times-faq) (optional)
     * @return ApiResponse&lt;Shipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Shipment> createShipmentLabelWithHttpInfo(String xPBTransactionId, Shipment shipment, Boolean xPBUnifiedErrorStructure, String xPBIntegratorCarrierId, String xPBShipperRatePlan, String xPBShipmentGroupId, String xPBShipperCarrierAccountId, String includeDeliveryCommitment) throws ApiException {
        okhttp3.Call localVarCall = createShipmentLabelValidateBeforeCall(xPBTransactionId, shipment, xPBUnifiedErrorStructure, xPBIntegratorCarrierId, xPBShipperRatePlan, xPBShipmentGroupId, xPBShipperCarrierAccountId, includeDeliveryCommitment, null);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * This operation creates a shipment and purchases a shipment label. (asynchronously)
     * The API returns the label as either a Base64 string or a link to a PDF. For more information visit [Create Shipment Documents](https://shipping.pitneybowes.com/api/post-shipments.html). Following are samples of different carriers -  * [Create a USPS (U.S. Postal Service) Label](https://shipping.pitneybowes.com/api/post-shipments-usps.html)  * [Create a USPS PMOD Label](https://shipping.pitneybowes.com/api/post-shipments-pmod.html) * [Create a USPS Scan-Based Return Label](https://shipping.pitneybowes.com/api/post-shipments-returns.html) * [Create a Pure Post Return Label](https://shipping.pitneybowes.com/api/post-shipments-pure-post-return.html) * [Create a Newgistics Label](https://shipping.pitneybowes.com/api/post-shipments-newgistics.html) * [Create a PB Presort Label](https://shipping.pitneybowes.com/api/post-shipments-presort.html) * [Create a PB Cross-Border Shipment](https://shipping.pitneybowes.com/api/post-shipments-cbds.html) * [Create a UPS (United Parcel Service) Label](https://shipping.pitneybowes.com/api/post-shipments-ups.html)
     * @param xPBTransactionId Required. A unique identifier for the transaction, up to 25 characters. (required)
     * @param shipment request (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param xPBIntegratorCarrierId USPS Only. Negotiated services rate, if applicable. (optional)
     * @param xPBShipperRatePlan USPS Only. Shipper rate plan, if applicable. For more information, see [this FAQ](https://shipping.pitneybowes.com/faqs/rates.html#rate-plans-faq). (optional)
     * @param xPBShipmentGroupId  **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**.The job number that represents the agreement between the merchant and PB Presort. This was provided by Pitney Bowes during [merchant onboarding for PB Presort](https://shipping.pitneybowes.com/carriers/pb-presort.html). (optional)
     * @param xPBShipperCarrierAccountId **[Required parameter for PBPresort service](https://shipping.pitneybowes.com/api/post-shipments-presort.html)**. The merchant&#39;s Mailer ID (MID), as provided by Pitney Bowes during merchant onboarding for PB Presort. (optional)
     * @param includeDeliveryCommitment If set to true, returns estimated transit times in days. Only for USPS Create Shipment. See also [Pitney Bowes Delivery Guarantee](https://shipping.pitneybowes.com/faqs/delivery-guarantee.html) [Do all USPS services return transit times?](https://shipping.pitneybowes.com/faqs/shipments.html#transit-times-faq) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createShipmentLabelAsync(String xPBTransactionId, Shipment shipment, Boolean xPBUnifiedErrorStructure, String xPBIntegratorCarrierId, String xPBShipperRatePlan, String xPBShipmentGroupId, String xPBShipperCarrierAccountId, String includeDeliveryCommitment, final ApiCallback<Shipment> _callback) throws ApiException {

        okhttp3.Call localVarCall = createShipmentLabelValidateBeforeCall(xPBTransactionId, shipment, xPBUnifiedErrorStructure, xPBIntegratorCarrierId, xPBShipperRatePlan, xPBShipmentGroupId, xPBShipperCarrierAccountId, includeDeliveryCommitment, _callback);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for reprintShipment
     * @param shipmentId Required. The shipment ID that was issued when shipment label was generated. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call reprintShipmentCall(String shipmentId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/shipments/{shipmentId}"
            .replaceAll("\\{" + "shipmentId" + "\\}", localVarApiClient.escapeString(shipmentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (carrier != null) {
            localVarHeaderParams.put("carrier", localVarApiClient.parameterToString(carrier));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call reprintShipmentValidateBeforeCall(String shipmentId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'shipmentId' is set
        if (shipmentId == null) {
            throw new ApiException("Missing the required parameter 'shipmentId' when calling reprintShipment(Async)");
        }
        

        okhttp3.Call localVarCall = reprintShipmentCall(shipmentId, xPBUnifiedErrorStructure, carrier, _callback);
        return localVarCall;

    }

    /**
     * reprintShipment
     * 
     * @param shipmentId Required. The shipment ID that was issued when shipment label was generated. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @return Shipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public Shipment reprintShipment(String shipmentId, Boolean xPBUnifiedErrorStructure, Carrier carrier) throws ApiException {
        ApiResponse<Shipment> localVarResp = reprintShipmentWithHttpInfo(shipmentId, xPBUnifiedErrorStructure, carrier);
        return localVarResp.getData();
    }

    /**
     * reprintShipment
     * 
     * @param shipmentId Required. The shipment ID that was issued when shipment label was generated. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @return ApiResponse&lt;Shipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Shipment> reprintShipmentWithHttpInfo(String shipmentId, Boolean xPBUnifiedErrorStructure, Carrier carrier) throws ApiException {
        okhttp3.Call localVarCall = reprintShipmentValidateBeforeCall(shipmentId, xPBUnifiedErrorStructure, carrier, null);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * reprintShipment (asynchronously)
     * 
     * @param shipmentId Required. The shipment ID that was issued when shipment label was generated. (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call reprintShipmentAsync(String shipmentId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback<Shipment> _callback) throws ApiException {

        okhttp3.Call localVarCall = reprintShipmentValidateBeforeCall(shipmentId, xPBUnifiedErrorStructure, carrier, _callback);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for retryShipment
     * @param originalTransactionId  (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call retryShipmentCall(String originalTransactionId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/shipments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (originalTransactionId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("originalTransactionId", originalTransactionId));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xPBUnifiedErrorStructure != null) {
            localVarHeaderParams.put("X-PB-UnifiedErrorStructure", localVarApiClient.parameterToString(xPBUnifiedErrorStructure));
        }

        if (carrier != null) {
            localVarHeaderParams.put("carrier", localVarApiClient.parameterToString(carrier));
        }

        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "oAuth2ClientCredentials" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call retryShipmentValidateBeforeCall(String originalTransactionId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'originalTransactionId' is set
        if (originalTransactionId == null) {
            throw new ApiException("Missing the required parameter 'originalTransactionId' when calling retryShipment(Async)");
        }
        

        okhttp3.Call localVarCall = retryShipmentCall(originalTransactionId, xPBUnifiedErrorStructure, carrier, _callback);
        return localVarCall;

    }

    /**
     * retryShipment
     * 
     * @param originalTransactionId  (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @return Shipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public Shipment retryShipment(String originalTransactionId, Boolean xPBUnifiedErrorStructure, Carrier carrier) throws ApiException {
        ApiResponse<Shipment> localVarResp = retryShipmentWithHttpInfo(originalTransactionId, xPBUnifiedErrorStructure, carrier);
        return localVarResp.getData();
    }

    /**
     * retryShipment
     * 
     * @param originalTransactionId  (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @return ApiResponse&lt;Shipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Shipment> retryShipmentWithHttpInfo(String originalTransactionId, Boolean xPBUnifiedErrorStructure, Carrier carrier) throws ApiException {
        okhttp3.Call localVarCall = retryShipmentValidateBeforeCall(originalTransactionId, xPBUnifiedErrorStructure, carrier, null);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * retryShipment (asynchronously)
     * 
     * @param originalTransactionId  (required)
     * @param xPBUnifiedErrorStructure Set this to true to use the standard [error object](https://shipping.pitneybowes.com/reference/error-object.html#standard-error-object) if an error occurs. (optional, default to true)
     * @param carrier  (optional, default to USPS)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 0 </td><td> Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call retryShipmentAsync(String originalTransactionId, Boolean xPBUnifiedErrorStructure, Carrier carrier, final ApiCallback<Shipment> _callback) throws ApiException {

        okhttp3.Call localVarCall = retryShipmentValidateBeforeCall(originalTransactionId, xPBUnifiedErrorStructure, carrier, _callback);
        Type localVarReturnType = new TypeToken<Shipment>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
